<div class="row" style="margin-top: 100px; align-items: center;">
<footer id="footer" class="footer mt-auto py-3 footer-custom " >
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>Contact Us</h5>
                <ul class="list-unstyled">
                    <li><a href="mailto:pvpcollege@gmail.com">Email: pvpcollege@gmail.com</a></li>
                    <li><a href="tel:+919876543210">Phone: 024222-273425</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Follow Us</h5>
                <ul class="list-unstyled">
                    <li><a href="https://www.youtube.com/channel/UC83nyu9ULBK3Of9JZUU5N1g/videos">YouTube</a></li>
                    <li><a href="https://twitter.com/PRAVARA_">Twitter</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Address</h5>
                <ul class="list-unstyled">
                    <li><a href="https://maps.google.com/maps?ll=19.581326,74.474524&z=15&t=m&hl=en-GB&gl=US&mapclient=embed&cid=2926184264736491464">Padmashri Vikhe Patil College Of Arts, Science and Commerce, Pravaranagar. Pin - 413713</a></li>
                </ul>
            </div>
        </div>
        <hr>
        <p class="text-center">Developed By Sagar Bhausaheb Sahane | Call: <a href="tel:+918999280563">+91 8999280563</a> | Email: <a href="mailto:sagarsahane45@gmail.com">sagarsahane45@gmail.com</a> | LinkedIn: <a href="https://www.linkedin.com/in/sagarsahane/">Sagar Bhausaheb Sahane</a></p>
    </div>
</footer>
</div>
